include ../includes/header

.classBar
    .classesTitle CLASSES
    .sorts
        span#orderByTags.order Tags
        span#orderByAlpha.order.selectedOrder A - Z
    #classes_classesListByTag.hidden.sidemenu
        each bClasses, category in classListByTag
            div(id=category).category
                div.categoryTitle
                    h3= category
                div.categoryList
                    //List the classes of a category
                    each bClass in bClasses
                        li
                            a(href='/classes/'+currentVersion).className= bClass
    #classes_classesListByAlpha
        - for className in classListByAlpha
            a.class(href='./'+className)= className.replace('_T_','<T>')

// Element to resize the sidebar
.classBarResize#resizeBar(draggable=true)

// Content of the selected class
.classContent
    h1#classTitle= className.replace('_T_','<T>')
    if(classTags)
        each tag in classTags
            a(href='/classes/'+currentVersion, id=tag).classTag= tag
    #classMd!= content

// The content wrapper
#wrapper
    include ../includes/banner

include ../includes/footer

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.3/js/min/perfect-scrollbar.jquery.min.js')
script(src='/js/classes.js')
script(src="/js/class.js")
