include ../includes/header
    include ../includes/banner
    #wrapper
        .statics-banner
            h1=dataObj.category
            br

        .horizontal-separator
        .statics-content
            .tagList
                for tag in dataObj.tags
                    .tagWrapper
                        .tag(data-name=tag['name'])
                            .tagImage
                                img(src=tag['img'])
                            .tagDescriptionWrapper
                                h3.tagTitle=tag['name']
                                span.tagDescription=tag['desc']
            .fileList
                for file, index in dataObj.files
                    .fileTitle(class=file['tags'] class='All')
                        .fileNumber=(index + 1)

                        a(href='./' + file['category'] + '/'+file['url'])
                            =file['name']
                            .inline-tags
                                if file.tags
                                    for tag in file.tags
                                        .inline-tag
                                            =tag
                .emptyList(style='display:none')
                    h2
                        | There is nothing in this category




    include ../includes/footer
    script(src="/js/statics.js")
